# Flutter/Dart
.dart_tool/
.packages
build/
*.iml

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Pods/
**/ios/.symlinks/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Miscellaneous
*.log
